<!-- <%- include('partials/header') -%>  -->
<div class="box">
	<form method="POST"
    action="/forgot"
    class="my-login-validation"
    novalidate="">
	<input type="hidden" value="<%= csrfToken %>" name="_csrf">
	  <div class="form-outline mb-4">
		  <h2>Forgot Password</h2>
		  <br>
		<input
		  type="email"
		  id="form2Example1"
		  class="form-control"
		  name="email"
		/>
		<label class="form-label" for="form2Example1"> Email address </label>
	  </div>
		<div class="buttonnn">
		  <button type="submit" class="btn btn-primary">
			<!-- {/* <Link to={"/verify"} style={linkStyle}> */} -->
			Reset Password
			<!-- {/* </Link> */} -->
		  </button>
		</div>
	  </div>
	  
	</form>
  </div>