<%- include('partials/header') -%> 

      <!-- Title -->
      <div class="row">
        <div id="container" style="white-space:nowrap" class="maincol">

          <div id="image" style="display:inline;">
              <img class="timg" src="images/pass.png"/>
          </div>
      
          <div id="texts" style="display:inline; white-space:nowrap;" class="entry"> 
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
              <h1>Secure your digital life with ease. <br>let us remember <br>so you don't have to.</h1> 
              <br>
              <br>
              <br>
              For any queries mail to : <a href="mailto:anas20023@iiitd.ac.in">Anas Ahmad </a> or <a href="mailto:tanishqa20411@iiitd.ac.in">Tanishqa Shital Singh</a>
          </div>
      
      </div>​
      </div>

    </div>
  </section>