<!-- <%- include('partials/header') -%> -->
<div class="box">
  <form
    method="POST"
    action="/signup"
    class="my-login-validation"
    novalidate=""
  >
  <input type="hidden" value="<%= csrfToken %>" name="_csrf">
    <div class="form-outline mb-4">
      <div class="buttonnn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          fill="currentColor"
          class="bi bi-person-circle"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
          />
        </svg>
      </div>
      <div class="form-outline mb-4">
        <input
          type="text"
          id="form2Example2"
          class="form-control"
          name="name"
        />
        <label class="aright form-label" for="form2Example2">
          Enter Name
        </label>
      </div>
      <input
        type="email"
        id="form2Example1"
        class="form-control"
        name="email"
      />
      <label class="form-label" for="form2Example1">
        Enter Email address
      </label>
      <br />
      <br />
      <div class="form-outline mb-4">
        <input
          name="pin"
          type="password"
          class="pincode form-control"
          inputmode="text"
          maxlength="12"
          id="form2Example2"
        />
        <label class="form-label" for="form2Example2"> Enter Password </label>
      </div>
      <div class="form-outline mb-4">
        <input
          name="pinconfirm"
          type="password"
          class="pincode form-control"
          inputmode="text"
          maxlength="12"
          id="form2Example2"
        />
        <label class="form-label" for="form2Example2"> Confirm Password </label>
      </div>
      <div class="buttonnn">
        <button type="submit" class="btn btn-primary">
          <!-- {/* <Link to={"/verify"} style={linkStyle}> */} -->
          Sign up
          <!-- {/* </Link> */} -->
        </button>
      </div>
      <div class="text-center">
        <p>
          Already a member?
          <!-- <Link to={"/login"}> -->
          <a href="/login">Login</a>
          <!-- </Link> -->
        </p>
      </div>
    </div>
  </form>
</div>
<br />
<br />
